body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Header, Hero Section */

.hero {
  background-color: #1f2937;
  padding-bottom: 48px;
}

img {
  width: 430px;
  height: 200px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.header,
.hero-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
}

.header {
  margin: 0 auto;
}

.hero-main {
  margin: 48px auto;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

a,
.subtext {
  color: #e5e7eb;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.hero-title,
.sign-up,
.logo {
  color: #f9faf8;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
}

.hero-card {
  max-width: 430px;
}

.sign-up {
  background-color: #3882f6;
  padding: 4px 20px;
  border-radius: 6px;
  border: none;
}

button:hover {
  background-color: #04aa6d; /* Green */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  transition-duration: 0.4s;
}

.subtext {
  margin: 8px 0px;
  font-weight: 300;
}

/* Information Section */

.title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
  margin: 48px 0px;
}

.info {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 48px;
}

.items {
  max-width: 150px;
  text-align: center;
}

.square {
  border: 2px solid #3882f6;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  margin-bottom: 6px;
}

/* Quote Section */

.quote {
  background-color: #e5e7eb;
  padding: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  max-width: 800px;
}

.quote-author {
  text-align: right;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
}

/* CTA Section */

.cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 48px;
  padding: 24px;
  background-color: #3882f6;
  margin: 48px 86px;
  border-radius: 5px;
}

.cta-text {
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
}

.cta-subtext {
  color: #e5e7eb;
  font-weight: 300;
}

.sign-up-2 {
  background-color: #3882f6;
  color: #f9faf8;
  border: 1px solid #f9faf8;
  border-radius: 6px;
  padding: 4px 20px;
}

/* Footer */

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  padding: 20px;
}
